html {
  box-sizing: border-box;
  background-color: #f0eee8;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #dcd4cd;
  padding: 1rem;
  border: 3px solid #785439;
  border-radius: 8px;
}

h2 {
  font-family: 'Dosis', sans-serif;
  font-size: 1.5rem;
  color: #512200;
}

p {
  font-family: 'Georgia', sans-serif;
  display: block;
  line-height: 1.5;
}

.link-card {
  list-style-type: none;
  font-family: 'Georgia', sans-serif;
  padding-left: 0;
  max-width: 20em;
}

.link-card dt {
  display: inline-block;
  width: 10em;
}

.link-card dd {
  display: inline-block;
  margin: 0;
  min-width: 9em;
  font-style: italic;
}



div {
  font-family: 'Dosis', sans-serif;
  background-color: #785439;
  padding: .4em .75em .5em;
  display: inline-block;
  border-radius: 8px;
}

a .link-card {
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
}
